# HISTORY
# 05-May-96  Charles Garrett (garrett) at the University of Washington
#	Change ALPHA_SPIN to variable $target which can be either
#	 ALPHA_SPIN or ALPHA_SPIN_PROF.
#
# initialize for the local disk.

nanny touch CAM

