#
# Start the ball rolling to get all of plexus installed.(Temporary)
#
# HISTORY
# 02-May-96  Marc Fiuczynski (mef) at the University of Washington
#	This is a bogus file.



echo Loading plexus... NOTHING DONE HERE!
