#
# Copyright 1996, University of Washington
# All rights reserved.
# See COPYRIGHT file for a full description
#
# HISTORY

# We depend on Network, Mount, Sphinx, Paging, disk extents and ws.

nanny touch Network
nanny touch Mount
nanny touch Sphinx
nanny touch Extent
nanny touch Paging
nanny touch ws

nanny touch SocketRW
telnet_shell 1000
# sphinx trace
bg sphinx exec /afs/cs.washington.edu/project/spin/machine/alpha_osf32/bin/Xspin -ac
set DISPLAYUNIT :0
set DISPLAY $ipaddr$DISPLAYUNIT
