readonly proc Dequeue (nm, elt) is
  local tab = nm & "Q"
  build_generic_intf (tab, "Dequeue", [elt], VISIBLE)
  build_generic_impl (tab, "Dequeue", [elt])
end
readonly proc Dequeuex (name, intf, impl) is
  local tab = name & "Q"
  build_generic_intf (tab, "Dequeue", [intf], VISIBLE)
  build_generic_impl (tab, "Dequeue", [impl])
end

readonly proc dequeue (nm, elt) is
  local tab = nm & "Q"
  build_generic_intf (tab, "Dequeue", [elt], HIDDEN)
  build_generic_impl (tab, "Dequeue", [elt])
end
