(*
 * Copyright 1996 University of Washington
 * All rights reserved.
 * See COPYRIGHT file for a full description
 *
 * HISTORY
 * 30-May-96  Tim Bradley (tbradley) at the University of Washington
 *	Whisted.
 *
 *)
readonly proc Stack (nm, elem) is
  local stk = nm & "Stk"
  build_generic_intf(stk,"Stack", [elem],VISIBLE)
  build_generic_impl(stk,"Stack",[elem])
end

readonly proc stack (nm, elem) is
  local stk = nm & "Stk"
  build_generic_intf (stk, "Stack", [elem], HIDDEN)
  build_generic_impl (stk, "Stack", [elem])
end
